body{
	font-family: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	background: url("./data/reference_bg.jpg");
	font-size: 0.95em;
}
h1{
	text-align: center
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a{
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
table, th, td{
	border: solid 1px #ddd;
	border-spacing: 0;
}
td{
	text-align: center;
}
.clearfix{
	clear: both;
}
#page{
	margin: 0 auto;
	width: 1080px;
	position: relative;
	background-color: white;
	overflow: hidden;
}
.button{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*======================================*/
/*　トップバー　*/
/*======================================*/
#top_bar{
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
	position: relative;
	font-size: 1.3em;
	color: blue;
	text-align: center;
	/*中央寄せ*/
	display: flex;
	align-items: center;
    justify-content: center;
}
.top_button{
	width: 350px;
	height: 40px;
	margin: 0 30px;
	border: 2px solid blue;
	border-radius: 5px;
	line-height: 40px;
	cursor: pointer;
}
#button_develop_info{
	color: white;
	background-color: blue;
}

/*======================================*/
/* サイドバー */
/*======================================*/
#side{
	top: 100px;
	margin-left: 10px;
	text-align: left;
	position: absolute;
	width: 250px;
	float: left;
	max-height: 95%;
	overflow-y: auto;
}
ul#navigator{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
li.tag_overview{
	font-size: 1.0em;
	border: 1px solid #ddd;
	border-bottom: 0px;
}
li.tag_overview:last-child{
	border-bottom: 1px solid #ddd;
}
ul.tag_list{
	display: none;
	background-color: #eee;
}
ul.tag_list > li{
	margin-left: 15px;
	padding-top: 5px;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
#list_close_image{
	margin-top: 7px;
	margin-right: 7px;
	float: right;
	border-left: 12px solid #999;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
#list_open_image{
	display: none;
	margin-top: 7px;
	margin-right: 7px;
	float: right;
	border-top: 12px solid #999;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/*======================================*/
/* メインページ */
/*======================================*/
#main{
	left: 250px;
	width: 750px;
	position: relative;
	margin-left: 50px;
	margin-right: 20px;
	text-align: left;
	float: left;
}
div.tag_head{
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}
div.tag{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: solid 1px #ddd;
}
div.tag:first-child{
	padding-top: 0px;
}
div.tag:last-child{
	padding-bottom: 100px;
	border-bottom: none;
}
.tag_name{
	color: #e00;
}
.tag_description{
	margin-top: 10px;
}


/*======================================*/
/* タグリファレンス */
/*======================================*/
/*タグ・演出指定モード切り替えボタン（共通スタイル）*/
.button_change_mode{
	width: 20%;
	font-size: 1.2em;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid blue;
	color: blue;
}

/* 開発状態のテーブル */
table.develop_info{
	margin-top: 20px;
	width: 730px;
}
table.develop_info > thead{
	background-color: #0cc;
}
table.develop_info > tbody > tr > td:last-child{
	width:500px;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
}

/* タグパラメータのテーブル */
table.tag_parameter{
	margin-top: 20px;
	width: 730px;
}
table.tag_parameter > thead{
	background-color: pink;
}
table.tag_parameter > tbody > tr > td:last-child{
	width:450px;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
}

/* タグの記述例 */
.tag_example{
	font-family: 'Courier','Avenir Next',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3';
	margin-top: 30px;
	font-size: 1.3em;
}
.tag_example > p{
	padding: 10px 15px;
	background-color: #373737;
	border-radius: 5px;
	font-size: 0.7em;
	line-height: 2.0em;
	color: white;
}


/*説明を見るボタン*/
#reference_description{
	left: 90%;
	top: 30px;
	padding: 3px;
	border: 2px solid pink;
	border-radius: 3px;
	position: absolute;
	font-weight: bold;
	color: pink;
}

/*最上部に戻るボタン*/
#button_to_top{
	width: 60px;
	height: 60px;
	right: 10px;
	bottom: 10px;
	position: fixed;
	color: #944;
	font-size: 2.0em;
	text-align: center;
	line-height: 60px;
	border: 2px solid #944;
	border-radius: 10px;
}