body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: white;
}

/*================================================================*/
/* ● ゲームエリア*/
/*================================================================*/
#game{
	position: absolute;
	overflow: hidden;
	background: black;
	z-index: 20;
}

/*==================================*/
/* ● リアルタイムプレビュー実行状態表示エリア */
/*==================================*/
#previewCondition div{
	top: 0;
	right: 0;
	width: 70px;
	height: 40px;
	margin: 5px;
	border-radius: 20px;
	font-weight: bold;
	position: absolute;
	z-index: 999;
}
#previewCondition .non-condition{
	background: gray;
}
#previewCondition .non-condition:after{
	left: 12px;
	top: 9px;
	content: "停止中";
	position: relative;
}
#previewCondition .editing{
	background: orange;
}
#previewCondition .editing:after{
	left: 12px;
	top: 9px;
	content: "編集中";
	position: relative;
}
#previewCondition .preview{
	background: #2D2;
}
#previewCondition .preview:after{
	left: 12px;
	top: 9px;
	font-size: 0.6em;
	content: "プレビュー";
	position: relative;
}
#previewCondition .error{
	background: #F33;
}
#previewCondition .error:after{
	left: 12px;
	top: 9px;
	content: "エラー";
	position: relative;
}

#previewCondition .playing{
	background: #69F;
}
#previewCondition .playing:after{
	left: 12px;
	top: 9px;
	content: "実行中";
	position: relative;
}

/*================================================================*/
/* ● エディタエリア */
/*================================================================*/
#editor{
	height: 100%;
	position: absolute;
}
#editorArea{
	top: 75px;/* 上の要素の合計height */
	width: 100%;
	position: absolute;
}
.editorInputArea{
	width: 100%;
	height: 100%;
}

/*==================================*/
/* ● ボタン配置エリア */
/*==================================*/
#editButtonArea{
	height: 40px;
	font-size: 23px;
}
#editButtonArea i{
	cursor: pointer;
}
#editButtonArea .separator{
	border: dotted 1px black;
}

/*==================================*/
/* ● ファイルタブ */
/*==================================*/
.editorTheme-dark{
	color: #BBB;
	background: #465258;
}
.editorTheme-simple{
	color: #888;
	background: #EEE;
}
/* 左右ボタン */
#editTabLabelArrowArea{
	top: 40px;
	left: 0px;
	width: 55px;
	height: 35px;
	margin: 0px;
	position: absolute;
}
#editTabLabelArrowArea > div{
	float: left;
}
#editTabLabelArrowArea:after{
	content: "";
	clear: both;
	display: block;
}
.editTabLabelArrow{
	float: left;
	padding: 1px 8px;
}
/*ここからカラーテーマ*/
.editorTheme-dark > .editTabLabelArrow:hover{
	color: #55BCD4;
}
.editorTheme-simple > .editTabLabelArrow:hover{
	color: #55BCD4;
}

/* ファイルタブ本体 */
#editTabLabel{
	left: 55px;
	top: 40px;
	height: 35px;
	margin: 0px;
	position: absolute;
	white-space: nowrap;
	overflow-x: scroll;
}
#editTabLabel::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.tabLabel{
	cursor: default;
	position: relative;
}
/* ファイルタブの右側ボタン（編集中/×） */
.tabLabelCloseButton{
	margin-left: 5px;
}
.tabLabelCloseButton .fa{
	font-size: 10px;
}
.tabLabelEditButton{
	margin-left: 5px;
	display: none;
}
.tabLabelEditButton .fa{
	font-size: 10px;
}
/*ここからカラーテーマ*/
.editorTheme-dark .tabLabel:hover{
	border-bottom: 2px #258CA4 solid;
}
.editorTheme-dark .tabLabel.active{
	color: #FFF;
	border-bottom: 2px #00BCD4 solid;
}
.editorTheme-simple .tabLabel:hover{
	border-bottom: 2px #258CA4 solid;
}
.editorTheme-simple .tabLabel.active{
	color: #000;
	border-bottom: 2px #00BCD4 solid;
}




#resourceManager{
	top: 70%;
	width: 70%;
	height: 30%;
	position: absolute;
}

#wrapperOnPlayingGame{
	width: 100%;
	height: 100%;
	background: rgba(100, 100, 100, 0.7);
	z-index: 10;
	position: absolute;
}