body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: white;
}

/*================================================================*/
/* ● ゲームエリア*/
/*================================================================*/
#game{
	position: absolute;
	overflow: hidden;
	background: black;
}

/*==================================*/
/* ● リアルタイムプレビュー実行状態表示エリア */
/*==================================*/
#previewCondition{
	top: 0;
	right: 0;
	width: 70px;
	height: 40px;
	margin: 5px;
	border-radius: 20px;
	font-weight: bold;
	position: absolute;
}
#previewCondition.editing{
	background: orange;
}
#previewCondition.editing:after{
	left: 12px;
	top: 9px;
	content: "編集中";
	position: relative;
}
#previewCondition.playing{
	background: #69F;
}
#previewCondition.playing:after{
	left: 12px;
	top: 9px;
	content: "実行中";
	position: relative;
}
#previewCondition.error{
	background: #F33;
}
#previewCondition.error:after{
	left: 12px;
	top: 9px;
	content: "エラー";
	position: relative;
}

/*================================================================*/
/* ● エディタエリア */
/*================================================================*/
#editor{
	height: 100%;
	position: absolute;
}

/*==================================*/
/* ● ボタン配置エリア */
/*==================================*/
#editButton{
	height: 55px;
}
#editButton > div{
	float: left;
	margin: 10px;
	cursor: pointer;
}
#editButton:after{
	content: "";
	clear: both;
	display: block;
}

/*==================================*/
/* ● ファイルタブ */
/*==================================*/
.editorTheme-dark{
	color: #BBB;
	background: #465258;
}
.editorTheme-simple{
	color: #888;
	background: #EEE;
}
/* 左右ボタン */
#editFileTabArrowArea{
	top: 55px;
	left: 0px;
	width: 55px;
	height: 35px;
	margin: 0px;
	position: absolute;
}
#editFileTabArrowArea > div{
	float: left;
}
#editFileTabArrowArea:after{
	content: "";
	clear: both;
	display: block;
}
.editFileTabArrow{
	float: left;
	padding: 1px 8px;
}
/*ここからカラーテーマ*/
.editorTheme-dark > .editFileTabArrow:hover{
	color: #55BCD4;
}
.editorTheme-simple > .editFileTabArrow:hover{
	color: #55BCD4;
}

/* ファイルタブ本体 */
#editFileTab{
	left: 55px;
	top: 55px;
	height: 35px;
	margin: 0px;
	position: absolute;
	white-space: nowrap;
	overflow-x: scroll;
}
#editFileTab::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.fileTab{
	top: 7.5px;
	padding: 7.5px 10px;
	cursor: default;
	position: relative;
}
/*ここからカラーテーマ*/
.editorTheme-dark > .fileTab:hover{
	border-bottom: 2px #258CA4 solid;
}
.editorTheme-dark > .fileTab.active{
	color: #FFF;
	border-bottom: 2px #00BCD4 solid;
}
.editorTheme-simple > .fileTab:hover{
	border-bottom: 2px #258CA4 solid;
}
.editorTheme-simple > .fileTab.active{
	color: #000;
	border-bottom: 2px #00BCD4 solid;
}

/*==================================*/
/* ● 入力エリア */
/*==================================*/
#editInputArea{
	top: 90px;/* 上の要素の合計height */
	width: 100%;
	position: absolute;
}

#resourceManager{
	top: 70%;
	width: 70%;
	height: 30%;
	position: absolute;
}